Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [15]:
#ANS1:
import pandas as pd
data = [4,8,15,16,23]
s1 = pd.Series(data)
s1

0     4
1     8
2    15
3    16
4    23
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [16]:
#ANS2:
lst = [i for i in range(10)]
s2 = pd.Series(lst)
s2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [13]:
#ANS3:
dta = {'Name':['Alice',
'Bob',
'Claire'],
       'Age':['25','30','27'],
      ' Gender':
['Female',
'Male',
'Female']}
pd.DataFrame(dta)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ANS4:
    In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types (e.g., numbers, strings, etc.) in a tabular form. It is similar to a spreadsheet or a SQL table. A DataFrame consists of rows and columns, where each column can be considered as a Pandas Series.

While a DataFrame represents a complete dataset with multiple columns, a Series is a one-dimensional labeled array that can store data of a single data type. A Series can be seen as a single column of a DataFrame.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ANS6:
    both Series and DataFrame are mutable in nature, while Panel is not.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [26]:
#ANS7:
import pandas as pd

# Create the Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'London', 'Paris'])

# Create the DataFrame
data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris